html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding: 120px;
}

header {
    background-repeat: no-repeat;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    height: 500px;
    scroll-snap-align: start;
}

nav {
    position: fixed;
    width: 100%;
    padding: 0px;
    background-color: #FF7F11;
    z-index: 100;
    height: 120px;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.nav-item {
    height: 100%;
    flex: 1;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

nav a {
    text-decoration: none !important;
    color: white;
    margin: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 40px;
}

.nav-item:hover {
    transform: scale(1.02);
    background-color: #b85d0d;
}

body {
    margin-left: 0;
    margin-right: 0;
    background-color: #1a1919;
    font-family: sans-serif;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
    color: white;
}

main {
    padding-top: 100px;

}

.title {
    text-align: center;
    font-size: 140px;
    padding-top: 200px;
    background-image: url(img/preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    color: white;
    height: 300px;

}

.heading {
    font-size: 40px;
    text-align: center;
}

.subheading {
    text-align: center;
    margin-left: 20px;
    font-size: 33px;
}

.page {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #262626;

}

.info {
    align-content: center;
    margin-left: 8px;
    margin-right: 8px;
    scroll-snap-align: start;
}

.info .h1 {
    scroll-snap-align: start;
}

.imgtext {
    padding: 20px;
    border-radius: 25px;
    width: 700px;

}

.imgtext:hover {
    transform: scale(1.05);
}

h2 {
    text-align: center;
}

.infotext {
    font-size: 30px;
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
}

.gallery-table {
    width: 100%;
}

.gallery {
    scroll-snap-align: start;
    padding-bottom: 100px;
}

.image-gallery {
    border-radius: 25px;
    margin: 5px;

}

.image-gallery:hover {
    transform: scale(1.05);
}

.facts-carousel {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    anchor-name: --mars-carousel;
}

.facts-carousel::-webkit-scrollbar {
    display: none;
}

.facts-carousel::scroll-button(*) {
    border: 0;
    font-size: 30px;
    background: none;
    color: #FF7F11;
    opacity: 0.7;
    cursor: pointer;
}

.facts-carousel::scroll-button(*):hover,
.facts-carousel::scroll-button(*):focus {
    opacity: 1;
}

.facts-carousel::scroll-button(*):active {
  translate: 1px 1px;
}

.facts-carousel::scroll-button(*):disabled {
  opacity: 0.2;
  cursor: unset;
}
.facts-carousel::scroll-button(left) {
  content: "◄" / "Previous";
}

.facts-carousel::scroll-button(right) {
  content: "►" / "Next";
}

.facts-carousel::scroll-button(*) {
  position: absolute;
  position-anchor: --mars-carousel;
}

.facts-carousel::scroll-button(left) {
  right: calc(anchor(left) - 70px);
  bottom: calc(anchor(top) + 13px);
}

.facts-carousel::scroll-button(right) {
  left: calc(anchor(right) - 70px);
  bottom: calc(anchor(top) + 13px);
}

.box-fact {
    height: 600px;
    border: solid;
    margin: 20px;
    padding: 20px;
    flex: 400px;
    border-radius: 25px;
    border-color: #FF7F11;
    scroll-snap-align: center;
}

.box-fact:hover {
    transform: scale(1.05);
    margin-right: 30px;
}

.box-image {
    width: 350px;
    height: 200px;
    border-radius: 25px;
    margin: 20px;
}

.boxtext {
    font-size: 25px;
    height: 300px;
}

footer {
    padding-top: 100px;
    scroll-snap-align: start;
    font-size: 20px;
    height: 400px;
    background-color: #1a1919;
}

footer h1 {
    padding-left: 20px;
}
    
footer p {
    padding-left: 20px;
}

footer a {
    color: #FF7F11;
    text-decoration: none;
}